.header {
    background-color: #0067A3;
    width: 100vw;
    flex: 0 1 55px;
    position: fixed;
    top:0;
}

@media (max-width: 1235px) {
    .header {
        background-color: transparent;
    }
}

.header-container {
    background-color: transparent;
    height: 55px; 
    max-width: 1235px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 16px;
    box-sizing: border-box;
}

@media (max-width: 1235px) {
    .header-container {
        background-color: transparent;
    }
}

.header-container__title {
    color: #FFF;
    font-size: 28px;
}

@media (max-width: 1235px) {
    .header-container__title {
        visibility: hidden;
    }
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.profile__button-open-menu {
    width: 64px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    position: relative;
}

.profile__picture {
    width: 40px;
    height: 40px;
}

.profile__icon-arrow_down {
    width: 24px;
    height: 24px;
}

.profile__icon-arrow_up {
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
}

.profile-menu {
    position: absolute;
    top: 35px;
    left: -68px;
}

.profile-menu-rect {
    width: 11px;
    height: 11px;
    background-color: #FFF;
    transform: rotate(45deg);
    margin-left: 82px;
}

.profile-menu-container {
    width: 134px;
    height: 60px; 
    border-radius: 5px; 
    background-color: #FFF;
    z-index: 100;
    margin-top: -5.5px;
}

.profile-menu-container__list {
    list-style-type: none;
    border-radius: 5px; 
}

.profile-menu-container__option {
    text-align:left;
    padding: 8px 7px 5px 7px;
    box-sizing: border-box;
    font-size: 14px;
}

.profile-menu-container__option:hover {
    color: #0067A3;
}