* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
    background-color: #0079BF;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
  	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text {
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal; 
}

.button {
    appearance: none;
    border: none;
    cursor: pointer;
}